# Data Import

## Introduction

This notebook shows how to import data into a DuckDB database. It uses the `duckdb` Python package to connect to a DuckDB database and import data from various formats, including CSV, JSON, DataFrame, parquet, GeoJSON, Shapefile, GeoParquet, and more.

## Datasets

The following datasets are used in this notebook. You don't need to download them, they can be accessed directly from the notebook.

- [cities.csv](https://open.gishub.org/data/duckdb/cities.csv)
- [countries.csv](https://open.gishub.org/data/duckdb/countries.csv)

## Installation

Uncomment the following cell to install the required packages if needed.

In [1]:
# %pip install duckdb leafmap

## Library Import

In [1]:
import duckdb
import leafmap
import pandas as pd
import os

## Installing Extensions

DuckDB’s Python API provides functions for installing and loading extensions, which perform the equivalent operations to running the `INSTALL` and `LOAD` SQL commands, respectively. An example that installs and loads the [httpfs extension](https://duckdb.org/docs/extensions/httpfs) looks like follows:

In [2]:
con = duckdb.connect()

In [3]:
con.install_extension("httpfs")
con.load_extension("httpfs")

In [4]:
con.install_extension("spatial")
con.load_extension("spatial")

## Downloading Sample Data

In [5]:
url = "https://open.gishub.org/data/duckdb/cities.zip"
leafmap.download_file(url, os.path.join("data","cities.zip"),unzip=True)

data\cities.zip already exists. Skip downloading. Set overwrite=True to overwrite.

'c:\\Users\\SBH\\OneDrive - University College London\\#CASA0025__BuildingSpatialApplicationsWithBigData\\CASA0025GEE_BigData\\Week2\\data\\cities.zip'

## CSV Files

CSV files can be read using the `read_csv` function, called either from within Python or directly from within SQL. By default, the `read_csv` function attempts to auto-detect the CSV settings by sampling from the provided file.

In [6]:
# read from a file using fully auto-detected settings
con.read_csv(os.path.join("data","cities.csv"))

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┤
│ 1249 rows (20 shown)                                          6 columns │
└─────────────────────────────────────────────────────────────────────────┘

In [7]:
# specify options on how the CSV is formatted internally
con.read_csv('cities.csv', header=True, sep=',')

IOException: IO Error: No files found that match the pattern "cities.csv"

In [8]:
# use the (experimental) parallel CSV reader
con.read_csv('cities.csv', parallel=True)

IOException: IO Error: No files found that match the pattern "cities.csv"

In [9]:
# directly read a CSV file from within SQL
con.sql("SELECT * FROM 'cities.csv'")

IOException: IO Error: No files found that match the pattern "cities.csv"

In [10]:
# call read_csv from within SQL
con.sql("SELECT * FROM read_csv_auto('cities.csv')")

IOException: IO Error: No files found that match the pattern "cities.csv"

## JSON Files

JSON files can be read using the `read_json` function, called either from within Python or directly from within SQL. By default, the `read_json` function will automatically detect if a file contains newline-delimited JSON or regular JSON, and will detect the schema of the objects stored within the JSON file.

In [11]:
# read from a single JSON file
con.read_json('cities.json')

IOException: IO Error: No files found that match the pattern "cities.json"

In [12]:
# directly read a JSON file from within SQL
con.sql("SELECT * FROM 'cities.json'")

IOException: IO Error: No files found that match the pattern "cities.json"

In [13]:
# call read_json from within SQL
con.sql("SELECT * FROM read_json_auto('cities.json')")

IOException: IO Error: No files found that match the pattern "cities.json"

## DataFrames

DuckDB is automatically able to query a Pandas DataFrame.

In [14]:
df = pd.read_csv('cities.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'cities.csv'

In [15]:
con.sql('SELECT * FROM df').fetchall()

CatalogException: Catalog Error: Table with name df does not exist!
Did you mean "pg_am"?

## Parquet Files

Parquet files can be read using the `read_parquet` function, called either from within Python or directly from within SQL.

In [ ]:
# read from a single Parquet file
con.read_parquet('cities.parquet')

┌─────────┬───────────────────────────────────────────┬────────┬───────────┬───────────┬──────────────────┬────────────┐
│ country │                 geometry                  │   id   │ latitude  │ longitude │       name       │ population │
│ varchar │                   blob                    │ double │  double   │  double   │     varchar      │   double   │
├─────────┼───────────────────────────────────────────┼────────┼───────────┼───────────┼──────────────────┼────────────┤
│ UGA     │ \x01\x01\x00\x00\x00xz\xA5,CD@@\xB57\xF…  │    1.0 │    0.5833 │   32.5333 │ Bombo            │    75000.0 │
│ UGA     │ \x01\x01\x00\x00\x00fffffF>@F\xB6\xF3\x…  │    2.0 │     0.671 │    30.275 │ Fort Portal      │    42670.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x0C\x02+\x87\x16\x…  │    3.0 │    40.642 │    15.799 │ Potenza          │    69060.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x1DZd;\xDFO-@\xF2\…  │    4.0 │    41.563 │    14.656 │ Campobasso       │    50762.0 │
│ ITA     │ \x01\x01\x00\x00\x00\xC3\xF5(\x5C\x8FB\…  │    5.0 │    45.737 │     7.315 │ Aosta            │    34062.0 │
│ ALD     │ \x01\x01\x00\x00\x00m\xE7\xFB\xA9\xF1\x…  │    6.0 │    60.097 │    19.949 │ Mariehamn        │    10682.0 │
│ PSE     │ \x01\x01\x00\x00\x00\xD8\x0D\xDB\x16e\x…  │    7.0 │  31.90294 │  35.20621 │ Ramallah         │    24599.0 │
│ VAT     │ \x01\x01\x00\x00\x00\xBE\xA41ZG\xE5(@W\…  │    8.0 │  41.90001 │  12.44781 │ Vatican City     │      832.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDCK\x1A\xA3uT\xD5…  │    9.0 │  46.58329 │   0.33328 │ Poitier          │    85960.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDD\xD2jH\xDC\xA3\…  │   10.0 │  45.77998 │   3.08001 │ Clermont-Ferrand │   233050.0 │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│ JPN     │ \x01\x01\x00\x00\x00e\xFC\xFB\x8C\x0Bxa…  │ 1240.0 │  35.68502 │ 139.75141 │ Tokyo            │ 35676000.0 │
│ IND     │ \x01\x01\x00\x00\x00\xF0\xBF\x95\xEC\xD…  │ 1241.0 │  19.01699 │  72.85699 │ Mumbai           │ 18978000.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xD1\x96s)\xAE\xAA\…  │ 1242.0 │  48.86669 │   2.33334 │ Paris            │  9904000.0 │
│ CHL     │ \x01\x01\x00\x00\x00\xEDG\x8A\xC8\xB0\x…  │ 1243.0 │ -33.45001 │ -70.66704 │ Santiago         │  5720000.0 │
│ IND     │ \x01\x01\x00\x00\x00\x94j\x9F\x8E\xC7\x…  │ 1244.0 │  22.49497 │  88.32468 │ Kolkata          │ 14787000.0 │
│ BRA     │ \x01\x01\x00\x00\x00\x14y\x92t\xCD\x9CE…  │ 1245.0 │ -22.92502 │ -43.22502 │ Rio de Janeiro   │ 11748000.0 │
│ BRA     │ \x01\x01\x00\x00\x00G\xAC\xC5\xA7\x00PG…  │ 1246.0 │ -23.55868 │ -46.62502 │ Sao Paulo        │ 18845000.0 │
│ AUS     │ \x01\x01\x00\x00\x00\xF2{\x9B\xFE\xEC\x…  │ 1247.0 │ -33.92001 │ 151.18518 │ Sydney           │  4630000.0 │
│ SGP     │ \x01\x01\x00\x00\x00\xD0\xD0?\xC1\xC5\x…  │ 1248.0 │   1.29303 │ 103.85582 │ Singapore        │  5183700.0 │
│ CHN     │ \x01\x01\x00\x00\x00\xB6\xDB.4\xD7\x8B\…  │ 1249.0 │  22.30498 │ 114.18501 │ Hong Kong        │  7206000.0 │
├─────────┴───────────────────────────────────────────┴────────┴───────────┴───────────┴──────────────────┴────────────┤
│ 1249 rows (20 shown)                                                                                       7 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# directly read a Parquet file from within SQL
con.sql("SELECT * FROM 'cities.parquet'")

┌─────────┬───────────────────────────────────────────┬────────┬───────────┬───────────┬──────────────────┬────────────┐
│ country │                 geometry                  │   id   │ latitude  │ longitude │       name       │ population │
│ varchar │                   blob                    │ double │  double   │  double   │     varchar      │   double   │
├─────────┼───────────────────────────────────────────┼────────┼───────────┼───────────┼──────────────────┼────────────┤
│ UGA     │ \x01\x01\x00\x00\x00xz\xA5,CD@@\xB57\xF…  │    1.0 │    0.5833 │   32.5333 │ Bombo            │    75000.0 │
│ UGA     │ \x01\x01\x00\x00\x00fffffF>@F\xB6\xF3\x…  │    2.0 │     0.671 │    30.275 │ Fort Portal      │    42670.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x0C\x02+\x87\x16\x…  │    3.0 │    40.642 │    15.799 │ Potenza          │    69060.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x1DZd;\xDFO-@\xF2\…  │    4.0 │    41.563 │    14.656 │ Campobasso       │    50762.0 │
│ ITA     │ \x01\x01\x00\x00\x00\xC3\xF5(\x5C\x8FB\…  │    5.0 │    45.737 │     7.315 │ Aosta            │    34062.0 │
│ ALD     │ \x01\x01\x00\x00\x00m\xE7\xFB\xA9\xF1\x…  │    6.0 │    60.097 │    19.949 │ Mariehamn        │    10682.0 │
│ PSE     │ \x01\x01\x00\x00\x00\xD8\x0D\xDB\x16e\x…  │    7.0 │  31.90294 │  35.20621 │ Ramallah         │    24599.0 │
│ VAT     │ \x01\x01\x00\x00\x00\xBE\xA41ZG\xE5(@W\…  │    8.0 │  41.90001 │  12.44781 │ Vatican City     │      832.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDCK\x1A\xA3uT\xD5…  │    9.0 │  46.58329 │   0.33328 │ Poitier          │    85960.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDD\xD2jH\xDC\xA3\…  │   10.0 │  45.77998 │   3.08001 │ Clermont-Ferrand │   233050.0 │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│ JPN     │ \x01\x01\x00\x00\x00e\xFC\xFB\x8C\x0Bxa…  │ 1240.0 │  35.68502 │ 139.75141 │ Tokyo            │ 35676000.0 │
│ IND     │ \x01\x01\x00\x00\x00\xF0\xBF\x95\xEC\xD…  │ 1241.0 │  19.01699 │  72.85699 │ Mumbai           │ 18978000.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xD1\x96s)\xAE\xAA\…  │ 1242.0 │  48.86669 │   2.33334 │ Paris            │  9904000.0 │
│ CHL     │ \x01\x01\x00\x00\x00\xEDG\x8A\xC8\xB0\x…  │ 1243.0 │ -33.45001 │ -70.66704 │ Santiago         │  5720000.0 │
│ IND     │ \x01\x01\x00\x00\x00\x94j\x9F\x8E\xC7\x…  │ 1244.0 │  22.49497 │  88.32468 │ Kolkata          │ 14787000.0 │
│ BRA     │ \x01\x01\x00\x00\x00\x14y\x92t\xCD\x9CE…  │ 1245.0 │ -22.92502 │ -43.22502 │ Rio de Janeiro   │ 11748000.0 │
│ BRA     │ \x01\x01\x00\x00\x00G\xAC\xC5\xA7\x00PG…  │ 1246.0 │ -23.55868 │ -46.62502 │ Sao Paulo        │ 18845000.0 │
│ AUS     │ \x01\x01\x00\x00\x00\xF2{\x9B\xFE\xEC\x…  │ 1247.0 │ -33.92001 │ 151.18518 │ Sydney           │  4630000.0 │
│ SGP     │ \x01\x01\x00\x00\x00\xD0\xD0?\xC1\xC5\x…  │ 1248.0 │   1.29303 │ 103.85582 │ Singapore        │  5183700.0 │
│ CHN     │ \x01\x01\x00\x00\x00\xB6\xDB.4\xD7\x8B\…  │ 1249.0 │  22.30498 │ 114.18501 │ Hong Kong        │  7206000.0 │
├─────────┴───────────────────────────────────────────┴────────┴───────────┴───────────┴──────────────────┴────────────┤
│ 1249 rows (20 shown)                                                                                       7 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# call read_parquet from within SQL
con.sql("SELECT * FROM read_parquet('cities.parquet')")

┌─────────┬───────────────────────────────────────────┬────────┬───────────┬───────────┬──────────────────┬────────────┐
│ country │                 geometry                  │   id   │ latitude  │ longitude │       name       │ population │
│ varchar │                   blob                    │ double │  double   │  double   │     varchar      │   double   │
├─────────┼───────────────────────────────────────────┼────────┼───────────┼───────────┼──────────────────┼────────────┤
│ UGA     │ \x01\x01\x00\x00\x00xz\xA5,CD@@\xB57\xF…  │    1.0 │    0.5833 │   32.5333 │ Bombo            │    75000.0 │
│ UGA     │ \x01\x01\x00\x00\x00fffffF>@F\xB6\xF3\x…  │    2.0 │     0.671 │    30.275 │ Fort Portal      │    42670.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x0C\x02+\x87\x16\x…  │    3.0 │    40.642 │    15.799 │ Potenza          │    69060.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x1DZd;\xDFO-@\xF2\…  │    4.0 │    41.563 │    14.656 │ Campobasso       │    50762.0 │
│ ITA     │ \x01\x01\x00\x00\x00\xC3\xF5(\x5C\x8FB\…  │    5.0 │    45.737 │     7.315 │ Aosta            │    34062.0 │
│ ALD     │ \x01\x01\x00\x00\x00m\xE7\xFB\xA9\xF1\x…  │    6.0 │    60.097 │    19.949 │ Mariehamn        │    10682.0 │
│ PSE     │ \x01\x01\x00\x00\x00\xD8\x0D\xDB\x16e\x…  │    7.0 │  31.90294 │  35.20621 │ Ramallah         │    24599.0 │
│ VAT     │ \x01\x01\x00\x00\x00\xBE\xA41ZG\xE5(@W\…  │    8.0 │  41.90001 │  12.44781 │ Vatican City     │      832.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDCK\x1A\xA3uT\xD5…  │    9.0 │  46.58329 │   0.33328 │ Poitier          │    85960.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDD\xD2jH\xDC\xA3\…  │   10.0 │  45.77998 │   3.08001 │ Clermont-Ferrand │   233050.0 │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│ JPN     │ \x01\x01\x00\x00\x00e\xFC\xFB\x8C\x0Bxa…  │ 1240.0 │  35.68502 │ 139.75141 │ Tokyo            │ 35676000.0 │
│ IND     │ \x01\x01\x00\x00\x00\xF0\xBF\x95\xEC\xD…  │ 1241.0 │  19.01699 │  72.85699 │ Mumbai           │ 18978000.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xD1\x96s)\xAE\xAA\…  │ 1242.0 │  48.86669 │   2.33334 │ Paris            │  9904000.0 │
│ CHL     │ \x01\x01\x00\x00\x00\xEDG\x8A\xC8\xB0\x…  │ 1243.0 │ -33.45001 │ -70.66704 │ Santiago         │  5720000.0 │
│ IND     │ \x01\x01\x00\x00\x00\x94j\x9F\x8E\xC7\x…  │ 1244.0 │  22.49497 │  88.32468 │ Kolkata          │ 14787000.0 │
│ BRA     │ \x01\x01\x00\x00\x00\x14y\x92t\xCD\x9CE…  │ 1245.0 │ -22.92502 │ -43.22502 │ Rio de Janeiro   │ 11748000.0 │
│ BRA     │ \x01\x01\x00\x00\x00G\xAC\xC5\xA7\x00PG…  │ 1246.0 │ -23.55868 │ -46.62502 │ Sao Paulo        │ 18845000.0 │
│ AUS     │ \x01\x01\x00\x00\x00\xF2{\x9B\xFE\xEC\x…  │ 1247.0 │ -33.92001 │ 151.18518 │ Sydney           │  4630000.0 │
│ SGP     │ \x01\x01\x00\x00\x00\xD0\xD0?\xC1\xC5\x…  │ 1248.0 │   1.29303 │ 103.85582 │ Singapore        │  5183700.0 │
│ CHN     │ \x01\x01\x00\x00\x00\xB6\xDB.4\xD7\x8B\…  │ 1249.0 │  22.30498 │ 114.18501 │ Hong Kong        │  7206000.0 │
├─────────┴───────────────────────────────────────────┴────────┴───────────┴───────────┴──────────────────┴────────────┤
│ 1249 rows (20 shown)                                                                                       7 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## GeoJSON Files

In [ ]:
con.sql('SELECT * FROM ST_Drivers()')

┌────────────────┬──────────────────────┬────────────┬──────────┬──────────┬───────────────────────────────────────────┐
│   short_name   │      long_name       │ can_create │ can_copy │ can_open │                 help_url                  │
│    varchar     │       varchar        │  boolean   │ boolean  │ boolean  │                  varchar                  │
├────────────────┼──────────────────────┼────────────┼──────────┼──────────┼───────────────────────────────────────────┤
│ ESRI Shapefile │ ESRI Shapefile       │ true       │ false    │ true     │ https://gdal.org/drivers/vector/shapefi…  │
│ MapInfo File   │ MapInfo File         │ true       │ false    │ true     │ https://gdal.org/drivers/vector/mitab.h…  │
│ UK .NTF        │ UK .NTF              │ false      │ false    │ true     │ https://gdal.org/drivers/vector/ntf.html  │
│ LVBAG          │ Kadaster LV BAG Ex…  │ false      │ false    │ true     │ https://gdal.org/drivers/vector/lvbag.h…  │
│ S57            │ IHO S-57 (ENC)       │ true       │ false    │ true     │ https://gdal.org/drivers/vector/s57.html  │
│ DGN            │ Microstation DGN     │ true       │ false    │ true     │ https://gdal.org/drivers/vector/dgn.html  │
│ OGR_VRT        │ VRT - Virtual Data…  │ false      │ false    │ true     │ https://gdal.org/drivers/vector/vrt.html  │
│ Memory         │ Memory               │ true       │ false    │ true     │ NULL                                      │
│ CSV            │ Comma Separated Va…  │ true       │ false    │ true     │ https://gdal.org/drivers/vector/csv.html  │
│ GML            │ Geography Markup L…  │ true       │ false    │ true     │ https://gdal.org/drivers/vector/gml.html  │
│  ·             │      ·               │  ·         │   ·      │  ·       │                    ·                      │
│  ·             │      ·               │  ·         │   ·      │  ·       │                    ·                      │
│  ·             │      ·               │  ·         │   ·      │  ·       │                    ·                      │
│ JML            │ OpenJUMP JML         │ true       │ false    │ true     │ https://gdal.org/drivers/vector/jml.html  │
│ PLSCENES       │ Planet Labs Scenes…  │ false      │ false    │ true     │ https://gdal.org/drivers/vector/plscene…  │
│ CSW            │ OGC CSW (Catalog  …  │ false      │ false    │ true     │ https://gdal.org/drivers/vector/csw.html  │
│ VDV            │ VDV-451/VDV-452/IN…  │ true       │ false    │ true     │ https://gdal.org/drivers/vector/vdv.html  │
│ MVT            │ Mapbox Vector Tiles  │ true       │ false    │ true     │ https://gdal.org/drivers/vector/mvt.html  │
│ NGW            │ NextGIS Web          │ true       │ true     │ true     │ https://gdal.org/drivers/vector/ngw.html  │
│ MapML          │ MapML                │ true       │ false    │ true     │ https://gdal.org/drivers/vector/mapml.h…  │
│ TIGER          │ U.S. Census TIGER/…  │ false      │ false    │ true     │ https://gdal.org/drivers/vector/tiger.h…  │
│ AVCBin         │ Arc/Info Binary Co…  │ false      │ false    │ true     │ https://gdal.org/drivers/vector/avcbin.…  │
│ AVCE00         │ Arc/Info E00 (ASCI…  │ false      │ false    │ true     │ https://gdal.org/drivers/vector/avce00.…  │
├────────────────┴──────────────────────┴────────────┴──────────┴──────────┴───────────────────────────────────────────┤
│ 51 rows (20 shown)                                                                                         6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("SELECT * FROM ST_Read('cities.geojson')")

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int32 │     varchar      │ varchar │  double   │  double   │   int32    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("FROM ST_Read('cities.geojson')")

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int32 │     varchar      │ varchar │  double   │  double   │   int32    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("CREATE TABLE cities AS SELECT * FROM ST_Read('cities.geojson')")

In [ ]:
con.table('cities')

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int32 │     varchar      │ varchar │  double   │  double   │   int32    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("SELECT * FROM cities")

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int32 │     varchar      │ varchar │  double   │  double   │   int32    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

## Shapefiles

In [ ]:
con.sql("SELECT * FROM ST_Read('cities.shp')")

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("FROM ST_Read('cities.shp')")

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql(
    """
        CREATE TABLE IF NOT EXISTS cities2 AS
        SELECT * FROM ST_Read('cities.shp')
        """
)

In [ ]:
con.table('cities2')

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql('SELECT * FROM cities2')

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

## GeoParquet Files

In [ ]:
con.sql("SELECT * FROM 'cities.parquet'")

┌─────────┬───────────────────────────────────────────┬────────┬───────────┬───────────┬──────────────────┬────────────┐
│ country │                 geometry                  │   id   │ latitude  │ longitude │       name       │ population │
│ varchar │                   blob                    │ double │  double   │  double   │     varchar      │   double   │
├─────────┼───────────────────────────────────────────┼────────┼───────────┼───────────┼──────────────────┼────────────┤
│ UGA     │ \x01\x01\x00\x00\x00xz\xA5,CD@@\xB57\xF…  │    1.0 │    0.5833 │   32.5333 │ Bombo            │    75000.0 │
│ UGA     │ \x01\x01\x00\x00\x00fffffF>@F\xB6\xF3\x…  │    2.0 │     0.671 │    30.275 │ Fort Portal      │    42670.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x0C\x02+\x87\x16\x…  │    3.0 │    40.642 │    15.799 │ Potenza          │    69060.0 │
│ ITA     │ \x01\x01\x00\x00\x00\x1DZd;\xDFO-@\xF2\…  │    4.0 │    41.563 │    14.656 │ Campobasso       │    50762.0 │
│ ITA     │ \x01\x01\x00\x00\x00\xC3\xF5(\x5C\x8FB\…  │    5.0 │    45.737 │     7.315 │ Aosta            │    34062.0 │
│ ALD     │ \x01\x01\x00\x00\x00m\xE7\xFB\xA9\xF1\x…  │    6.0 │    60.097 │    19.949 │ Mariehamn        │    10682.0 │
│ PSE     │ \x01\x01\x00\x00\x00\xD8\x0D\xDB\x16e\x…  │    7.0 │  31.90294 │  35.20621 │ Ramallah         │    24599.0 │
│ VAT     │ \x01\x01\x00\x00\x00\xBE\xA41ZG\xE5(@W\…  │    8.0 │  41.90001 │  12.44781 │ Vatican City     │      832.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDCK\x1A\xA3uT\xD5…  │    9.0 │  46.58329 │   0.33328 │ Poitier          │    85960.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xDD\xD2jH\xDC\xA3\…  │   10.0 │  45.77998 │   3.08001 │ Clermont-Ferrand │   233050.0 │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│  ·      │                     ·                     │     ·  │      ·    │      ·    │   ·              │       ·    │
│ JPN     │ \x01\x01\x00\x00\x00e\xFC\xFB\x8C\x0Bxa…  │ 1240.0 │  35.68502 │ 139.75141 │ Tokyo            │ 35676000.0 │
│ IND     │ \x01\x01\x00\x00\x00\xF0\xBF\x95\xEC\xD…  │ 1241.0 │  19.01699 │  72.85699 │ Mumbai           │ 18978000.0 │
│ FRA     │ \x01\x01\x00\x00\x00\xD1\x96s)\xAE\xAA\…  │ 1242.0 │  48.86669 │   2.33334 │ Paris            │  9904000.0 │
│ CHL     │ \x01\x01\x00\x00\x00\xEDG\x8A\xC8\xB0\x…  │ 1243.0 │ -33.45001 │ -70.66704 │ Santiago         │  5720000.0 │
│ IND     │ \x01\x01\x00\x00\x00\x94j\x9F\x8E\xC7\x…  │ 1244.0 │  22.49497 │  88.32468 │ Kolkata          │ 14787000.0 │
│ BRA     │ \x01\x01\x00\x00\x00\x14y\x92t\xCD\x9CE…  │ 1245.0 │ -22.92502 │ -43.22502 │ Rio de Janeiro   │ 11748000.0 │
│ BRA     │ \x01\x01\x00\x00\x00G\xAC\xC5\xA7\x00PG…  │ 1246.0 │ -23.55868 │ -46.62502 │ Sao Paulo        │ 18845000.0 │
│ AUS     │ \x01\x01\x00\x00\x00\xF2{\x9B\xFE\xEC\x…  │ 1247.0 │ -33.92001 │ 151.18518 │ Sydney           │  4630000.0 │
│ SGP     │ \x01\x01\x00\x00\x00\xD0\xD0?\xC1\xC5\x…  │ 1248.0 │   1.29303 │ 103.85582 │ Singapore        │  5183700.0 │
│ CHN     │ \x01\x01\x00\x00\x00\xB6\xDB.4\xD7\x8B\…  │ 1249.0 │  22.30498 │ 114.18501 │ Hong Kong        │  7206000.0 │
├─────────┴───────────────────────────────────────────┴────────┴───────────┴───────────┴──────────────────┴────────────┤
│ 1249 rows (20 shown)                                                                                       7 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql(
    """
CREATE TABLE IF NOT EXISTS cities3 AS
SELECT * EXCLUDE geometry, ST_GeomFromWKB(geometry)
AS geometry FROM 'cities.parquet'
"""
)

In [ ]:
con.table('cities3')

┌─────────┬────────┬───────────┬───────────┬──────────────────┬────────────┬─────────────────────────────┐
│ country │   id   │ latitude  │ longitude │       name       │ population │          geometry           │
│ varchar │ double │  double   │  double   │     varchar      │   double   │          geometry           │
├─────────┼────────┼───────────┼───────────┼──────────────────┼────────────┼─────────────────────────────┤
│ UGA     │    1.0 │    0.5833 │   32.5333 │ Bombo            │    75000.0 │ POINT (32.5333 0.5833)      │
│ UGA     │    2.0 │     0.671 │    30.275 │ Fort Portal      │    42670.0 │ POINT (30.275 0.671)        │
│ ITA     │    3.0 │    40.642 │    15.799 │ Potenza          │    69060.0 │ POINT (15.799 40.642)       │
│ ITA     │    4.0 │    41.563 │    14.656 │ Campobasso       │    50762.0 │ POINT (14.656 41.563)       │
│ ITA     │    5.0 │    45.737 │     7.315 │ Aosta            │    34062.0 │ POINT (7.315 45.737)        │
│ ALD     │    6.0 │    60.097 │    19.949 │ Mariehamn        │    10682.0 │ POINT (19.949 60.097)       │
│ PSE     │    7.0 │  31.90294 │  35.20621 │ Ramallah         │    24599.0 │ POINT (35.20621 31.90294)   │
│ VAT     │    8.0 │  41.90001 │  12.44781 │ Vatican City     │      832.0 │ POINT (12.44781 41.90001)   │
│ FRA     │    9.0 │  46.58329 │   0.33328 │ Poitier          │    85960.0 │ POINT (0.33328 46.58329)    │
│ FRA     │   10.0 │  45.77998 │   3.08001 │ Clermont-Ferrand │   233050.0 │ POINT (3.08001 45.77998)    │
│  ·      │     ·  │      ·    │      ·    │   ·              │       ·    │            ·                │
│  ·      │     ·  │      ·    │      ·    │   ·              │       ·    │            ·                │
│  ·      │     ·  │      ·    │      ·    │   ·              │       ·    │            ·                │
│ JPN     │ 1240.0 │  35.68502 │ 139.75141 │ Tokyo            │ 35676000.0 │ POINT (139.75141 35.68502)  │
│ IND     │ 1241.0 │  19.01699 │  72.85699 │ Mumbai           │ 18978000.0 │ POINT (72.85699 19.01699)   │
│ FRA     │ 1242.0 │  48.86669 │   2.33334 │ Paris            │  9904000.0 │ POINT (2.33334 48.86669)    │
│ CHL     │ 1243.0 │ -33.45001 │ -70.66704 │ Santiago         │  5720000.0 │ POINT (-70.66704 -33.45001) │
│ IND     │ 1244.0 │  22.49497 │  88.32468 │ Kolkata          │ 14787000.0 │ POINT (88.32468 22.49497)   │
│ BRA     │ 1245.0 │ -22.92502 │ -43.22502 │ Rio de Janeiro   │ 11748000.0 │ POINT (-43.22502 -22.92502) │
│ BRA     │ 1246.0 │ -23.55868 │ -46.62502 │ Sao Paulo        │ 18845000.0 │ POINT (-46.62502 -23.55868) │
│ AUS     │ 1247.0 │ -33.92001 │ 151.18518 │ Sydney           │  4630000.0 │ POINT (151.18518 -33.92001) │
│ SGP     │ 1248.0 │   1.29303 │ 103.85582 │ Singapore        │  5183700.0 │ POINT (103.85582 1.29303)   │
│ CHN     │ 1249.0 │  22.30498 │ 114.18501 │ Hong Kong        │  7206000.0 │ POINT (114.18501 22.30498)  │
├─────────┴────────┴───────────┴───────────┴──────────────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                         7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [9]:
con.sql(
    """
CREATE TABLE IF NOT EXISTS country AS
SELECT * EXCLUDE geometry, ST_GeomFromWKB(geometry) FROM
        's3://us-west-2.opendata.source.coop/google-research-open-buildings/v2/geoparquet-admin1/country=SSD/*.parquet'
"""
)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [35]:
con.table('country')

┌─────────┬───────────────────┬────────────────┬────────────┬────────────────┬─────────────────────────────────────────┐
│ country │      admin_1      │ area_in_meters │ confidence │ full_plus_code │        st_geomfromwkb(geometry)         │
│ varchar │      varchar      │     double     │   double   │    varchar     │                geometry                 │
├─────────┼───────────────────┼────────────────┼────────────┼────────────────┼─────────────────────────────────────────┤
│ SSD     │ Central Equatoria │        13.2942 │     0.6061 │ 6GMGFRQX+797F  │ POLYGON ((30.8484392928101 3.48814927…  │
│ SSD     │ Central Equatoria │        17.9561 │     0.7432 │ 6GMGFRQX+7999  │ POLYGON ((30.8485154080012 3.48817201…  │
│ SSD     │ Central Equatoria │        16.1245 │     0.7016 │ 6GMGFRQX+WXHQ  │ POLYGON ((30.8500129796786 3.48979698…  │
│ SSD     │ Central Equatoria │        20.5568 │     0.7655 │ 6GMGFRQX+XX66  │ POLYGON ((30.849898767126 3.489886617…  │
│ SSD     │ Central Equatoria │        12.7653 │     0.7241 │ 6GMGFRQX+XX98  │ POLYGON ((30.8500049862427 3.48989272…  │
│ SSD     │ Central Equatoria │         8.4574 │     0.6811 │ 6GMGFRQX+XXMX  │ POLYGON ((30.8499509498148 3.48996070…  │
│ SSD     │ Central Equatoria │         5.4337 │     0.6019 │ 6GMGFRQX+XXXF  │ POLYGON ((30.8499937482512 3.48997762…  │
│ SSD     │ Central Equatoria │        13.1663 │     0.6488 │ 6GMGFRRX+2QV2  │ POLYGON ((30.8494272889171 3.49008460…  │
│ SSD     │ Central Equatoria │        26.2669 │     0.6831 │ 6GMGFRRX+3J42  │ POLYGON ((30.8490899476719 3.49010159…  │
│ SSD     │ Central Equatoria │        28.1317 │     0.7556 │ 6GMGFRRX+3JHC  │ POLYGON ((30.849124931713 3.490163715…  │
│  ·      │   ·               │           ·    │        ·   │       ·        │                    ·                    │
│  ·      │   ·               │           ·    │        ·   │       ·        │                    ·                    │
│  ·      │   ·               │           ·    │        ·   │       ·        │                    ·                    │
│ SSD     │ Warrap            │        20.8582 │     0.7012 │ 6GXC9H5X+FJRM  │ POLYGON ((28.5990311582958 9.35872254…  │
│ SSD     │ Warrap            │        28.4379 │     0.6774 │ 6GXC9H5X+FM7C  │ POLYGON ((28.5991864837717 9.35864724…  │
│ SSD     │ Warrap            │        16.9609 │     0.6779 │ 6GXC9H5X+FMG9  │ POLYGON ((28.5992339371306 9.35866527…  │
│ SSD     │ Warrap            │        27.4222 │     0.6354 │ 6GXC9H5X+FMJ8  │ POLYGON ((28.5991762605652 9.35869191…  │
│ SSD     │ Warrap            │        27.1697 │     0.6818 │ 6GXC9H5X+FMPM  │ POLYGON ((28.5992254174389 9.35870301…  │
│ SSD     │ Warrap            │        32.4359 │     0.7429 │ 6GXC9H5X+FP34  │ POLYGON ((28.5993354707036 9.35861055…  │
│ SSD     │ Warrap            │         8.4233 │     0.6813 │ 6GXC9H5X+FPJ4  │ POLYGON ((28.5992808457224 9.35869182…  │
│ SSD     │ Warrap            │        32.3144 │     0.6737 │ 6GXC9H5X+FPPC  │ POLYGON ((28.5993089610297 9.35870816…  │
│ SSD     │ Warrap            │          31.23 │     0.6855 │ 6GXC9H5X+FQC8  │ POLYGON ((28.5994230876301 9.35865704…  │
│ SSD     │ Warrap            │        41.7623 │     0.7621 │ 6GXC9H5X+FQGP  │ POLYGON ((28.5994909515784 9.35866768…  │
├─────────┴───────────────────┴────────────────┴────────────┴────────────────┴─────────────────────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                              6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [36]:
con.sql('SELECT COUNT(*) FROM country')

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        37781 │
└──────────────┘

## References

- [DuckDB Data Ingestion](https://duckdb.org/docs/api/python/data_ingestion)