# Spatial Joins Exercises

Here\'s a reminder of some of the functions we have seen. Hint: they
should be useful for the exercises!

-   `sum(expression)`: aggregate to
    return a sum for a set of records
-   `count(expression)`: aggregate to
    return the size of a set of records
-   `ST_Area(geometry)` returns the
    area of the polygons
-   `ST_AsText(geometry)` returns WKT `text`
-   `ST_Contains(geometry A, geometry B)` returns the true if geometry A contains geometry B
-   `ST_Distance(geometry A, geometry B)` returns the minimum distance between geometry A and
    geometry B
-   `ST_DWithin(geometry A, geometry B, radius)` returns the true if geometry A is radius distance or less from geometry B
-   `ST_GeomFromText(text)` returns `geometry`
-   `ST_Intersects(geometry A, geometry B)` returns the true if geometry A intersects geometry B
-   `ST_Length(linestring)` returns the length of the linestring
-   `ST_Touches(geometry A, geometry B)` returns the true if the boundary of geometry A touches geometry B
-   `ST_Within(geometry A, geometry B)` returns the true if geometry A is within geometry B


Uncomment and run the following cell to install the required packages.

In [1]:
#%pip install duckdb leafmap lonboard
import duckdb
import leafmap

Download the [nyc_data.zip](https://github.com/opengeos/data/raw/main/duckdb/nyc_data.zip) dataset using leafmap. The zip file contains the following datasets. Create a new DuckDB database and import the datasets into the database. Each dataset should be imported into a separate table.

- nyc_census_blocks
- nyc_homicides
- nyc_neighborhoods
- nyc_streets
- nyc_subway_stations

In [2]:
import psycopg2
import pandas as pd
import leafmap
import geopandas as gpd

In [3]:
# 连接到PostGIS数据库
conn = psycopg2.connect(
    dbname='nyc', 
    user='postgres', 
    password='970706', 
    host='localhost',
    port='5432' # 默认是5432
)

# 创建一个cursor对象
cursor = conn.cursor()

In [4]:
%load_ext sql
%sql postgresql://postgres:970706@localhost/nyc

There's a new jupysql version available (0.10.8), you're running 0.10.7. To upgrade: pip install jupysql --upgrade
Deploy AI and data apps for free on Ploomber Cloud! Learn more: https://docs.cloud.ploomber.io/en/latest/quickstart/signup.html

Connecting to 'postgresql://postgres:***@localhost/nyc'

1. **What subway station is in \'Little Italy\'? What subway route is it on?**

In [6]:
%%sql
SELECT name, routes
FROM nyc_subway_stations
WHERE ST_WITHIN(nyc_subway_stations.geom, (SELECT geom FROM nyc_neighborhoods WHERE name = 'Little Italy'));

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+-----------+--------+
|    name   | routes |
+-----------+--------+
| Spring St |   6    |
+-----------+--------+

2. **What are all the neighborhoods served by the 6-train?** (Hint: The `routes` column in the `nyc_subway_stations` table has values like \'B,D,6,V\' and \'C,6\')

In [11]:
%%sql
SELECT name
FROM nyc_neighborhoods
WHERE ST_INTERSECTS(nyc_neighborhoods.geom, (SELECT ST_Union(geom) FROM nyc_subway_stations WHERE routes LIKE '%6%'));

Running query in 'postgresql://postgres:***@localhost/nyc'

15 rows affected.

+--------------------+
|        name        |
+--------------------+
| Financial District |
|     Chinatown      |
| Greenwich Village  |
|    Little Italy    |
|    Murray Hill     |
|      Gramercy      |
|      Midtown       |
|  Upper East Side   |
|     Yorkville      |
|    East Harlem     |
+--------------------+
Truncated to displaylimit of 10.

3. **After 9/11, the \'Battery Park\' neighborhood was off limits for several days. How many people had to be evacuated?**

In [16]:
%%sql
SELECT SUM(popn_total)
FROM nyc_census_blocks
WHERE ST_WITHIN(nyc_census_blocks.geom, (SELECT geom FROM nyc_neighborhoods WHERE name = 'Battery Park'));

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+--------+
|  sum   |
+--------+
| 5435.0 |
+--------+

In [14]:
%%sql
SELECT SUM(popn_total)
FROM nyc_census_blocks
WHERE ST_WITHIN((SELECT geom FROM nyc_neighborhoods WHERE name = 'Battery Park'), nyc_census_blocks.geom);

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+------+
| sum  |
+------+
| None |
+------+

In [15]:
%%sql
SELECT SUM(popn_total)
FROM nyc_census_blocks
WHERE ST_INTERSECTS((SELECT geom FROM nyc_neighborhoods WHERE name = 'Battery Park'), nyc_census_blocks.geom);

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+---------+
|   sum   |
+---------+
| 17153.0 |
+---------+

In [ ]:
%%sql
-- take it into consideration that not all census blocks are within the city boundary, vice versa, the popn should be proportionally adjusted
SELECT SUM(popn_total)
FROM nyc_census_blocks
WHERE ST_WITHIN(nyc_census_blocks.geom, (
    SELECT geom 
    FROM nyc_neighborhoods 
    WHERE name = 'Battery Park'));

4. **What neighborhood has the highest population density (persons/km2)?**

In [32]:
%%sql
SELECT nb.name, SUM(cb.popn_total)/(ST_AREA(nb.geom)/1000000) AS popn_per_sqkm
FROM nyc_census_blocks AS cb
JOIN nyc_neighborhoods AS nb
ON ST_INTERSECTS(cb.geom, nb.geom)
GROUP BY nb.name, nb.geom
ORDER BY popn_per_sqkm DESC
LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+-------------------+-------------------+
|        name       |   popn_per_sqkm   |
+-------------------+-------------------+
| North Sutton Area | 68435.13283772678 |
+-------------------+-------------------+

In [26]:
%%sql
SELECT (SUM(cb.popn_total)/nb_area*1000000.0) AS popn_per_sqm, nb.name
FROM nyc_neighborhoods AS nb
JOIN nyc_census_blocks AS cb ON ST_INTERSECTS(cb.geom, nb.geom)
JOIN (SELECT name, ST_AREA(geom) AS nb_area FROM nyc_neighborhoods) AS nb_area ON nb.name = nb_area.name
GROUP BY nb.name, nb_area
ORDER BY popn_per_sqm DESC
LIMIT 1;

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+------------------+-------------------+
|   popn_per_sqm   |        name       |
+------------------+-------------------+
| 68435.1328377268 | North Sutton Area |
+------------------+-------------------+

When you're finished, you can check your answers [here](https://postgis.net/workshops/postgis-intro/joins_exercises.html).

# Ship-to-Ship Transfer Detection

Now for a less structured exercise. We're going to look at ship-to-ship transfers. The idea is that two ships meet up in the middle of the ocean, and one ship transfers cargo to the other. This is a common way to avoid sanctions, and is often used to transfer oil from sanctioned countries to other countries. We're going to look at a few different ways to detect these transfers using AIS data.

In [10]:
import duckdb
import pandas as pd

# Import jupysql Jupyter extension to create SQL cells
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%config SqlMagic.named_parameters=True
%sql duckdb:///:memory:

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%%sql

INSTALL httpfs;
LOAD httpfs;
INSTALL spatial;
LOAD spatial;

Empty DataFrame
Columns: [Success]
Index: []

## Step 1

Create a spatial database using the following AIS data:

https://storage.googleapis.com/qm2/casa0025_ships.csv

Each row in this dataset is an AIS 'ping' indicating the position of a ship at a particular date/time, alongside vessel-level characteristics.

It contains the following columns:
* `vesselid`: A unique numerical identifier for each ship, like a license plate
* `vessel_name`: The ship's name
* `vsl_descr`: The ship's type
* `dwt`: The ship's Deadweight Tonnage (how many tons it can carry)
* `v_length`: The ship's length in meters
* `draught`: How many meters deep the ship is draughting (how low it sits in the water). Effectively indicates how much cargo the ship is carrying
* `sog`: Speed over Ground (in knots)
* `date`: A timestamp for the AIS signal
* `lat`: The latitude of the AIS signal (EPSG:4326)
* `lon`: The longitude of the AIS signal (EPSG:4326)

Create a table called 'ais' where each row is a different AIS ping, with no superfluous information. Construct a geometry column.

Create a second table called 'vinfo' which contains vessel-level information with no superfluous information.

In [5]:
%%sql
CREATE TABLE ais
AS
SELECT *
FROM read_csv_auto('https://storage.googleapis.com/qm2/casa0025_ships.csv');

Empty DataFrame
Columns: [Success]
Index: []

## Step 2

Use a spatial join to identify ship-to-ship transfers in this dataset.
Two ships are considered to be conducting a ship to ship transfer IF:

* They are within 500 meters of each other
* For more than two hours
* And their speed is lower than 1 knot

Some things to consider: make sure you're not joining ships with themselves. Try working with subsets of the data first while you try different things out.

In [7]:
%%sql
SELECT *
FROM ais
ORDER BY RANDOM()
LIMIT 10;

,vesselid,vessel_name,vsl_descr,dwt,v_length,draught,sog,date,lat,lon,geom
0,356770,Zoi XL,bulk carrier,82489.0,229.0,7.1,0.0,2022-08-21 20:38:54,45.127212,36.542007,POINT (36.5420066666667 45.1272116666667)
1,345658,Kapitan Korchin,general cargo,5659.0,138.0,2.7,0.0,2022-07-31 03:26:50,45.140178,36.565362,POINT (36.5653616666667 45.1401783333333)
2,344414,Lila,bulk carrier,28678.0,169.0,5.8,0.2,2022-08-18 02:05:16,45.135367,36.556278,POINT (36.5562783333333 45.1353666666667)
3,142541,Proletarsk,general cargo,3484.0,128.0,3.3,0.0,2022-07-01 06:38:38,45.144122,36.518762,POINT (36.5187616666667 45.1441216666667)
4,152770,Volgo-Balt 231,general cargo,3208.0,114.0,2.6,8.1,2022-07-18 07:26:36,45.092250,36.504167,POINT (36.5041666666667 45.09225)
5,260331,Niko Pirosmani,general cargo,3174.0,108.0,2.6,0.0,2022-06-07 11:19:17,45.152313,36.499772,POINT (36.4997716666667 45.1523133333333)
6,170655,Pawell,general cargo with container capacity,3043.0,87.0,2.7,0.4,2022-08-07 23:30:23,45.172692,36.510712,POINT (36.5107116666667 45.1726916666667)
7,133130,Nikita Kozhemyaka,general cargo,3134.0,114.0,3.1,0.0,2022-08-04 02:52:50,45.194303,36.502833,POINT (36.5028333333333 45.1943033333333)
8,211060,Volaris-52,general cargo with container capacity,6277.0,140.0,3.2,1.1,2022-07-24 05:58:17,45.152753,36.507197,POINT (36.5071966666667 45.1527533333333)
9,10237039,Kapitan Shumilov,general cargo with container capacity,5458.0,140.0,2.6,0.0,2022-08-21 10:49:02,45.152613,36.527332,POINT (36.5273316666667 45.1526133333333)

In [16]:
%%sql
ais;

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(duckdb.duckdb.ParserException) Parser Error: syntax error at or near "ais"
LINE 1: ais;
        ^
[SQL: ais;]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [13]:
%%sql
SELECT ship1.vesselid as ship1_id, 
    ship2.vesselid as ship2_id, 
    ship1.date as start,
    ship2.date as end
FROM ais AS ship1
JOIN ais AS ship2 
ON ST_DISTANCE(ship1.geom, ship2.geom) < 500 
    AND ABS(EXTRACT(EPOCH FROM ship1.date - ship2.date)) < 7200
    AND ship1.vesselid <> ship2.vesselid
    AND ship1.sog < 1 and ship2.sog < 1

RuntimeError: (duckdb.duckdb.BinderException) Binder Error: No function matches the given name and argument types 'ST_Distance(VARCHAR, VARCHAR)'. You might need to add explicit type casts.
	Candidate functions:
	ST_Distance(POINT_2D, POINT_2D) -> DOUBLE
	ST_Distance(POINT_2D, LINESTRING_2D) -> DOUBLE
	ST_Distance(LINESTRING_2D, POINT_2D) -> DOUBLE
	ST_Distance(GEOMETRY, GEOMETRY) -> DOUBLE

LINE 7: ON ST_DISTANCE(ship1.geom, ship2.geom) < 500
    AND ABS(EXTRACT(EPOCH FROM ship1.date - ship2.date)) < 7200
    AND ship1.vesselid <> ship2.vesselid
    AND ship1.sog < 1 and ship2.sog < 1...
           ^
[SQL: SELECT ship1.vesselid as ship1_id,
    ship2.vesselid as ship2_id,
    ship1.date as start,
    ship2.date as end
FROM ais AS ship1
JOIN ais AS ship2
ON ST_DISTANCE(ship1.geom, ship2.geom) < 500
    AND ABS(EXTRACT(EPOCH FROM ship1.date - ship2.date)) < 7200
    AND ship1.vesselid <> ship2.vesselid
    AND ship1.sog < 1 and ship2.sog < 1]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community