In [62]:
import psycopg2

In [63]:

# 连接到PostGIS数据库
conn = psycopg2.connect(
    dbname='nyc', 
    user='postgres', 
    password='970706', 
    host='localhost',
    port='5432' # 默认是5432
)

# 创建一个cursor对象
cursor = conn.cursor()

In [64]:
%load_ext sql
%sql postgresql://postgres:970706@localhost/nyc

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost/nyc'

#### What is the area of the 'West Village' neighborhood? (Hint: The area is given in square meters. To get an area in hectares, divide by 10000. To get an area in acres, divide by 4047.)

In [65]:
%%sql
SELECT ST_Area(geom)
    FROM nyc_neighborhoods
    where name='West Village'

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+--------------------+
|      st_area       |
+--------------------+
| 1044614.5296485956 |
+--------------------+

#### What is the geometry type of ‘Pelham St’? The length?

In [66]:
%%sql
select 
    ST_GeometryType(geom)
    from nyc_streets
    where name='Pelham St'

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+--------------------+
|  st_geometrytype   |
+--------------------+
| ST_MultiLineString |
+--------------------+

In [67]:
%%sql
select ST_Length(geom)
from nyc_streets
where name='Pelham St'

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+-------------------+
|     st_length     |
+-------------------+
| 50.32314951660229 |
+-------------------+

In [68]:
%%sql
select 
ST_Length(geom),
ST_GeometryType(geom)
from nyc_streets
where name='Pelham St'

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+-------------------+--------------------+
|     st_length     |  st_geometrytype   |
+-------------------+--------------------+
| 50.32314951660229 | ST_MultiLineString |
+-------------------+--------------------+

#### What is the GeoJSON representation of the 'Broad St' subway station?

In [69]:
%%sql
SELECT ST_AsGeoJSON(geom) 
FROM nyc_subway_stations
WHERE name = 'Broad St';

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+------------------------------------------------------------------------------------------------------------------------------+
|                                                         st_asgeojson                                                         |
+------------------------------------------------------------------------------------------------------------------------------+
| {"type":"Point","crs":{"type":"name","properties":{"name":"EPSG:26918"}},"coordinates":[583571.905921312,4506714.341192182]} |
+------------------------------------------------------------------------------------------------------------------------------+

#### What is the total length of streets (in kilometers) in New York City? (Hint: The units of measurement of the spatial data are meters, there are 1000 meters in a kilometer.)

In [70]:
%%sql
select sum(ST_Length(geom))/1000
from nyc_streets;

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+--------------------+
|      ?column?      |
+--------------------+
| 10418.904717199996 |
+--------------------+

#### What is the area of Manhattan in acres? (Hint: both nyc_census_blocks and nyc_neighborhoods have a boroname in them.)

In [71]:
%%sql
SELECT sum(ST_Area(geom))/4047
FROM nyc_neighborhoods
where boroname='Manhattan';

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+-------------------+
|      ?column?     |
+-------------------+
| 13965.32012239119 |
+-------------------+

#### What is the most westerly subway station?

In [72]:
%%sql
select name
from nyc_subway_stations
ORDER BY ST_X(geom)
limit 1;

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+-------------+
|     name    |
+-------------+
| Tottenville |
+-------------+

#### How long is 'Columbus Cir' (aka Columbus Circle)?

In [73]:
%%sql
select ST_Length(geom)
from nyc_streets
where name='Columbus Cir';

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+-------------------+
|     st_length     |
+-------------------+
| 308.3419936909855 |
+-------------------+

#### What is the length of streets in New York City, summarized by type?

In [74]:
%config SqlMagic.displaylimit = 100

In [75]:
%%sql
SELECT type, SUM(ST_Length(geom)) AS total_length
FROM nyc_streets
GROUP BY type;

Running query in 'postgresql://postgres:***@localhost/nyc'

21 rows affected.

+--------------------------------------------------+--------------------+
|                       type                       |    total_length    |
+--------------------------------------------------+--------------------+
|                   unclassified                   | 166936.37160445828 |
|            motorway_link; residential            | 215.07778911517033 |
|                      trunk                       | 20353.58198260764  |
|            residential; motorway_link            | 3661.5750629374543 |
|                      steps                       | 282.74522134212725 |
| primary; residential; motorway_link; residential | 1367.7657694133486 |
|                    undefined                     | 380.5386191034604  |
|                     cycleway                     | 8863.751448259294  |
|                     footway                      | 71798.48783780965  |
|                    secondary                     | 276264.3038979258  |
|                    trunk_link                    | 3202.1898124020076 |
|                     tertiary                     | 360394.8790513027  |
|                   construction                   | 4803.081621035617  |
|                  living_street                   | 1894.6390545733245 |
|                    pedestrian                    | 4867.050328250257  |
|                     primary                      | 135034.2330179469  |
|                   residential                    |  8629870.33786606  |
|                   primary_link                   | 2492.5745708353616 |
|                  motorway_link                   |  294261.419479668  |
|                     motorway                     | 403622.4781263628  |
|                     service                      | 28337.635038596007 |
+--------------------------------------------------+--------------------+

#### What is the geometry value for the street named 'Atlantic Commons'?

In [76]:
%%sql
select ST_AsText(geom)
from nyc_streets
where name='Atlantic Commons';

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+--------------------------------------------------------------------------------------------+
|                                         st_astext                                          |
+--------------------------------------------------------------------------------------------+
| MULTILINESTRING((586781.7015777241 4504202.153143394,586863.5196448397 4504215.988170098)) |
+--------------------------------------------------------------------------------------------+

#### What neighborhood and borough is Atlantic Commons in?

In [77]:
%%sql
select nyc_neighborhoods.boroname
from nyc_neighborhoods, nyc_streets
where nyc_streets.name='Atlantic Commons' and ST_Contains(nyc_neighborhoods.geom, nyc_streets.geom);

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+----------+
| boroname |
+----------+
| Brooklyn |
+----------+

In [78]:
%%sql
select nyc_neighborhoods.name
from nyc_neighborhoods, nyc_streets
where nyc_streets.name='Atlantic Commons' and ST_Contains(nyc_neighborhoods.geom, nyc_streets.geom);

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+------------+
|    name    |
+------------+
| Fort Green |
+------------+

#### What streets does Atlantic Commons join with?

In [81]:
%%sql
select name
from nyc_streets
where ST_Touches(nyc_streets.geom, (select geom from nyc_streets where name='Atlantic Commons'));

Running query in 'postgresql://postgres:***@localhost/nyc'

2 rows affected.

+---------------+
|      name     |
+---------------+
|  S Oxford St  |
| Cumberland St |
+---------------+

#### Approximately how many people live on (within 50 meters of) Atlantic Commons?

In [40]:
%%sql
WITH AtlanticCommonsBuffer AS (
  SELECT ST_Buffer(geom, 50) AS buffer_geom
  FROM nyc_streets
  WHERE name = 'Atlantic Commons'  
)
SELECT SUM(nyc_census_blocks.popn_total) AS estimated_population
FROM nyc_census_blocks, AtlanticCommonsBuffer
WHERE ST_Intersects(nyc_census_blocks.geom, AtlanticCommonsBuffer.buffer_geom);

Running query in 'postgresql://postgres:***@localhost/nyc'

1 rows affected.

+----------------------+
| estimated_population |
+----------------------+
|        1438.0        |
+----------------------+